<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/" class="spacer" *ngIf="!(auth.user | async)">In100gram</span>
    <span routerLink="/dashboard" *ngIf="(auth.user | async)">Dashboard</span>
    <span  class="spacer"></span>
    <mat-icon [routerLink]="['sign-up']" class="a-icon" *ngIf="!(auth.user | async)">favorite</mat-icon>
    <mat-icon [routerLink]="['sign-in']" class="a-icon" *ngIf="!(auth.user | async)">perm_identity</mat-icon>
    <mat-icon [routerLink]="['post', 'new']" class="a-icon" *ngIf="(auth.user | async)">add</mat-icon>
    <span routerLink="/profile" *ngIf="(auth.user | async)">{{(auth.user | async)?.displayName}}</span>
    <mat-icon (click)="signOut()" class="a-icon" *ngIf="(auth.user | async)">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
