<mat-card class="auth-form">
  <div class="sign-up-form">
    <h1>Sign up</h1>
    <form>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Name" required>
        <div class="sm-text is-danger">
          error ex.
        </div>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Email" required>
        <div class="sm-text is-danger">
          error ex.
        </div>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" required>
        <div class="sm-text is-danger">
          error ex.
        </div>
      </mat-form-field>
      <button mat-button type="submit" name="button">Sign Up</button>
    </form>
  </div>
</mat-card>
