<mat-card class="dashboard-container" *ngFor="let post of posts | async">
  <a [routerLink]="['../', 'profile']">{{(post.user | async)?.displayName}}</a>
  <div class="description">
    {{post.postText}}
  </div>
  <img *ngIf="post.photoURL" src="{{post.photoURL}}" (click)="openDialog(post)">
  <span>{{(post.likes | async)?.length}}</span>
  <button (click)="addLike(post)" *ngIf="(post.likedPost | async)?.length < 1" mat-button>Like</button>
  <button (click)="openField(post)" mat-button>Comment</button>
  <div *ngIf="post.id == postcomment">
    <textarea (input)="valueChange($event)" name="name"></textarea>
    <button class="post" (click)="addComment(post)" mat-button>Post</button>
  </div>
  <div *ngIf="post.id == postcomment" class="comments">
    <ul *ngFor="let comment of post.comments | async">
      <li class="user">{{(comment.user | async)?.displayName}}</li>
      <li>{{comment.commentText}}</li>
    </ul>
  </div>

</mat-card>
