.dashboard-container{
  max-width: 600px;
  margin: 20px auto;
  img{
    margin-top: 5px;
    width: 100%;
    position: relative;
  }
  a{
    position: absolute;
    text-decoration: none;
    color: primary;
  }
  .description{
    margin-top: 30px;
    position: relative;
    width: 99%;
    height: auto;
  }
  textarea{
    width: 99%;
  }
  

}
