/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0 auto;
}
.spacer{
  flex: 1 1 auto;
}

.a-icon{
  cursor: pointer;
  padding: 0 14px;
}

.full-width{
  width: 100%;
}

.is-danger{
  color: red;
}

.sm-text{
  font-size: 10px;
}

#hidden-from-screen{
  opacity: 0;
  width: 10px;
  cursor: pointer;
}
